*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    padding: 150px;
    background: #424746;  
}
.lside {
    background: #ccd4d3;  
    width: 10vw;
    height: 1000px;
}
.rside {
    position: relative;
    top: -1000px;
    right:-90vw;
    width: 10vw;
    height: 1000px;
    background: #ccd4d3;

}
footer {
    position: relative;
    height: 10vh;
    background: rgb(8, 8, 8);
    width: 80vw;
    bottom: 1131px;
    left: 128px;
}